body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

.container {
   background-color: lightblue;
   align-items: center;
}

#header {
    margin-top: 20px;
    text-align: center;
    color: yellow;
    font-style: italic;
}

h2 {
    text-align: center;
}


.card-body p{
    color: green;
    font-display: italic;
    font-size: 20px;
}

